<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplate}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</th:block>

<div layout:fragment="content">
    <div class="container d-flex justify-content-center">
        <div class="membership-form">
            <h1 class="display-1 text-center text"><a href="/">CoMo</a></h1>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">마이페이지</li>
                    <li class="breadcrumb-item"><a class="text-muted" href="/user/mypage">정보 변경</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="text-decoration-none text-muted"
                                                                              href="/user/mypage/password">비밀번호 변경</a>
                    </li>
                </ol>
            </nav>

            <div class="member-info">
                <form th:object="${adminChangeUserDto}" th:action="'/admin/user?id=' + ${user.id}" th:method="post"
                      class="membershipForm">
                    <input type="hidden" name="_method" value="put"/>

                    <div class="row">
                        <div class="mb-3 col-lg-6">
                            <label for="email" class="form-label">이메일 주소</label>
                            <div class="form-floating mb-3">
                                <input th:value="${user.email}" name="email" type="email" class="form-control email"
                                       id="email" placeholder="이메일 주소" readonly>
                                <label for="email">이메일</label>
                            </div>
                        </div>

                        <div class="mb-6 col-lg-6">
                            <label for="provider" class="form-label">로그인 경로</label>
                            <div class="form-floating mb-3">
                                <input th:value="${user.provider}" name="provider" type="text" class="form-control name"
                                       id="provider" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="mb-6 col-lg-6">
                            <label for="birth" class="form-label">생년월일</label>
                            <div class="form-floating mb-3">
                                <input th:value="${user.birth}" name="birth" type="date" class="form-control name"
                                       id="birth" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-4 col-lg-4">
                            <label for="gender" class="form-label">성별</label>
                            <select name="gender" id="gender" disabled>
                                <option th:selected="${user.gender} == MEN" value="MEN">남자</option>
                                <option th:selected="${user.gender} == WOMEN" value="WOMEN">여자</option>
                            </select>
                        </div>

                        <div class="mb-4 col-lg-4">
                            <label for="emailAuth" class="form-label">이메일 인증 여부</label>
                            <select name="emailAuth" id="emailAuth" disabled>
                                <option th:selected="${user.isEmailAuth} == true" value="1">Y</option>
                                <option th:selected="${user.isEmailAuth} == false" value="0">N</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="mb-4 col-lg-4">
                            <label for="role" class="form-label">계정 분류</label>
                            <select name="role" id="role" disabled>
                                <option th:selected="${user.role} == ADMIN" value="ADMIN">관리자</option>
                                <option th:selected="${user.role} == USER" value="USER">일반 사용자</option>
                            </select>
                        </div>

                        <div class="mb-4 col-lg-4">
                            <label for="status" class="form-label">계정 상태</label>
                            <select name="status" id="status" disabled>
                                <option th:selected="${user.status} == NEED_EMAIL_AUTH" value="NEED_EMAIL_AUTH">이메일 인증
                                    필요 계정
                                </option>
                                <option th:selected="${user.status} == AVAILABLE" value="AVAILABLE">사용 가능 계정</option>
                                <option th:selected="${user.status} == DROP" value="DROP">탈퇴 계정</option>
                                <option th:selected="${user.status} == BAN" value="BAN">정지 계정</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-6 col-lg-6">
                            <label for="createdAt" class="form-label">가입일</label>
                            <div class="form-floating mb-3">
                                <input th:value="${user.createdAt}" name="createdAt" type="date"
                                       class="form-control name"
                                       id="createdAt" readonly>
                            </div>
                        </div>

                        <div class="mb-6 col-lg-6">
                            <label for="updatedAt" class="form-label">최근 정보 수정일</label>
                            <div class="form-floating mb-3">
                                <input th:value="${user.updatedAt}" name="updatedAt" type="date"
                                       class="form-control name"
                                       id="updatedAt" readonly>
                            </div>
                        </div>
                    </div>


                    <div class="container px-4 mb-3">
                        수정하시려면 버튼을 눌러서 잠금을 해제해주세요 →
                        <button class="update-user-btn btn btn-secondary p-2">수정 잠금 해제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/js/admin-user-detail.js}"></script>
    </th:block>
</div>
</html>